-content_for :javascript do
	:javascript
		$('.example_json').click(function() {
			$('#dataset_format').val('{ "first_name" : "[[name_first]]" , "last_name" : "[[name_last]]" , "middle_initial" : "[[initial]]" , "address_1" : "[[street_number]] [[street_name]] [[street_type]]" , "ssn" : "[[number_9_digit]]" }').keyup();
			return false;
		});
		
		$('.example_ruby').click(function() {
			$('#dataset_format').val(':first_name => "[[name_first]]", :last_name => "[[name_last]]", :middle_initial => "[[initial]]", :address_1 => "[[street_number]] [[street_name]] [[street_type]]", :ssn => "[[number_9_digit]]"').keyup();
			return false;
		});
		
		$('.example_xml').click(function() {
			$('#dataset_format').val("<first_name>[[name_first]]</first_name>\n<last_name>[[name_last]]</last_name>\n<middle_initial>[[initial]]</middle_initial>\n<street_1>[[street_number]] [[street_name]] [[street_type]]</street>\n<ssn>[[number_9_digit]]</ssn>").keyup();
			return false;
		});

#main_datasets_new.clearfix
	.content
		#main_datasets_new_content
			%span{:class => 'examples right'}
				Examples: 
				= link_to 'JSON', nil, :class => 'example_json'
				|
				= link_to 'Ruby', nil, :class => 'example_ruby'
				|
				= link_to 'XML', nil, :class => 'example_xml'
			%h3 Enter A Data Format With Variables...
			= form_for @dataset, :url => preview_datasets_path do |f|
				= f.text_area :format, :placeholder => 'ex. Hi, my name is [[name_first]]...'
				= text_field_tag :number_of_entities, nil, :size => 3, :maxlength => 3, :placeholder => '10'
				= label_tag :number_of_entities, '# of Entries'
				= submit_tag "Generate Dataset &rarr;".html_safe, :class => "button orange right"

#main_datasets_options.clearfix
	.content
		#main_datasets_options_content
			%h3 Variables
			#main_datasets_options_content_col_1
				%ul
					%li
						%span Names
						%ul
							%li
								[[name_first]]
								%span (ex. John)
							%li
								[[name_last]]
								%span (ex. Smith)
							%li
								[[initial]]
								%span (ex. A)
							%li
								[[email_address]]
								%span (ex. jessica@silva.com)
					%li
						%span Numbers
						%ul
							%li
								[[number_2_digit]] - [[number_9_digit]]
								%span (ex. 10 - 999999999)

			#main_datasets_options_content_col_2
				%ul
					%li
						%span Addresses
						%ul
							%li
								[[street_number]]
								%span (ex. 123)
							%li
								[[street_name]]
								%span (ex. Maple)
							%li
								[[street_type]]
								%span (ex. St)
							%li
								[[city]]
								%span (ex. New York City)

