-content_for :javascript do
	:javascript
		$('.example_json').click(function() {
			$('#dataset_format').val('{ "first_name" : "[[first_name]]" , "last_name" : "[[last_name]]" , "middle_initial" : "[[initial]]" , "address_1" : "[[street_address]]" , "ssn" : "[[number_9_digit]]" }').keyup();
			return false;
		});
		
		$('.example_ruby').click(function() {
			$('#dataset_format').val(':first_name => "[[first_name]]", :last_name => "[[last_name]]", :middle_initial => "[[initial]]", :address_1 => "[[street_address]]", :ssn => "[[number_9_digit]]"').keyup();
			return false;
		});
		
		$('.example_xml').click(function() {
			$('#dataset_format').val("<person>\n\t<first_name>[[first_name]]</first_name>\n\t<last_name>[[last_name]]</last_name>\n\t<middle_initial>[[initial]]</middle_initial>\n\t<address_1>[[street_address]]</address_1>\n\t<ssn>[[number_9_digit]]</ssn>\n</person>").keyup();
			return false;
		});

#main_datasets_new.clearfix
	.content
		#main_datasets_new_content
			%span{:class => 'examples right'}
				Examples: 
				= link_to 'JSON', nil, :class => 'example_json'
				|
				= link_to 'Ruby', nil, :class => 'example_ruby'
				|
				= link_to 'XML', nil, :class => 'example_xml'
			%h3 Enter A Data Format With Variables...
			= form_for @dataset, :url => preview_datasets_path do |f|
				= f.text_area :format, :placeholder => 'Hi, my name is [[first_name]].'
				= text_field_tag :number_of_entities, nil, :size => 3, :maxlength => 3, :placeholder => '10'
				= label_tag :number_of_entities, '# of Entries'
				= submit_tag "Generate Dataset &rarr;".html_safe, :class => "button orange right"

#main_datasets_options.clearfix
	.content
		#main_datasets_options_content
			%h3 Variables
			#main_datasets_options_content_col_1
				%ul
					%li
						%span Names
						%ul
							%li
								[[first_name]]
								%span ex. John
							%li
								[[last_name]]
								%span ex. Doe
							%li
								[[middle_name]]
								%span ex. Adam
							%li
								[[middle_initial]]
								%span ex. A
							%li
								[[email_address]]
								%span ex. john@doe.com
					%li
						%span Numbers
						%ul
							%li
								[[number_2_digit]] - [[number_9_digit]]
								%br
								%span ex. 10 - 999999999

			#main_datasets_options_content_col_2
				%ul
					%li
						%span Addresses
						%ul
							%li
								[[street_address]]
								%span ex. 123 Maple St
							%li
								[[street_number]]
								%span ex. 123
							%li
								[[street_name]]
								%span ex. Maple
							%li
								[[street_type]]
								%span ex. St
							%li
								[[city]]
								%span ex. New York City
							%li
								[[state]]
								%span ex. New York
							%li
								[[state_code]]
								%span ex. NY
							%li
								[[country]]
								%span ex. United States
					%li
						%span Text
						%ul
							%li
								[[lipsum_paragraphs_1]] - [[lipsum_paragraphs_5]]
								%br
								%span ex. "Lorem ipsum dolor sit amet..." (1 - 5 paragraphs)

