-content_for :javascript do
	:javascript
		$('.example_json').click(function() {
			$('#string').val('{ "first_name" : "[[name_first]]" , "last_name" : "[[name_last]]" , “middle_initial” : “[[initial]]” , “address_1” : “[[street_number]] [[street_name]] [[street_type]]” }').keyup();
			return false;
		});
		$('.example_ruby').click(function() {
			$('#string').val(':first_name => "[[name_first]]", :last_name => "[[name_last]]", :middle_initial => “[[initial]]”, :address_1 => “[[street_number]] [[street_name]] [[street_type]]”').keyup();
			return false;
		});
		$('.example_xml').click(function() {
			$('#string').val("<first_name>[[name_first]]</first_name>\n<last_name>[[name_last]]</last_name>\n<middle_initial>[[initial]]</middle_initial>\n<street_1>[[street_number]] [[street_name]] [[street_type]]</street>").keyup();
			return false;
		});

#main_entry
	.content.clearfix
		#main_entry_content
			%span{:class => 'examples right'}
				Try it out: 
				= link_to 'JSON', nil, :class => 'example_json'
				|
				= link_to 'Ruby', nil, :class => 'example_ruby'
				|
				= link_to 'XML', nil, :class => 'example_xml'
			%h3 Enter Format
			/ = form_tag result_path, :remote => true do
			= form_tag result_path do
				= text_area_tag :string, nil, :placeholder => 'Enter content format here...'
				%br
				= text_field_tag :number_of_entities, nil, :size => 3, :maxlength => 3, :placeholder => '1'
				= label_tag :number_of_entities, '# of Entries'
				= submit_tag 'Generate!', :class => "button orange right"

#main_options
	.content.clearfix
		#main_options_content
			%h2 Variables
			#main_content_options_col_1
				%ul
					%li
						%span Names
						%ul
							%li
								[[name_first]] - 
								%span ex. John
							%li
								[[name_last]] - 
								%span ex. Smith
							%li
								[[initial]] - 
								%span ex. M
					%li
						%span Addresses
						%ul
							%li
								[[street_number]] - 
								%span ex. 123
							%li
								[[street_name]] - 
								%span ex. Maple
							%li
								[[street_type]] - 
								%span ex. St
			#main_content_options_col_2
			
