<td><%= name %></td>
<td><%= format %></td>
<td><%= output %></td>
<td><%= public %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>