<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Format:</b>
  <%= format %>
</p>

<p>
  <b>Output:</b>
  <%= output %>
</p>

<p>
  <b>Public:</b>
  <%= public %>
</p>

<p>
  <b>Account:</b>
  <%= account_id %>
</p>


<a href="#/index">Back</a>